html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    background: #333; 
}
.wrapper {
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
}
.screen {
    line-height: 100px;
    background: #000;

    font-size: 40px;
    color: #fff;
    text-align: right;
    padding: 0 5px;
    overflow: auto;
}
.calc-buttons {
    background: #666;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5;
}
.calc-button {
    line-height: 100px;
    background: #d8d9db;
    border: 1px solid black;

    font-size: 40px;
    text-align: center;
}
.calc-button:hover {
    background: #ebebeb;
}
.calc-button:active {
    background: #bbbcbe;
}
.span-2 {
    grid-column: span 2;
}
.span-3 {
    grid-column: span 3;
}
.function {
    background: #df974c;
    color: #fff;
}
.function:hover {
    background: #dfb07e;
}
.function:active {
    background: #dd8d37;
}