@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;300&display=swap');

/***** RESET ******/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/***** DEFAULTS *****/
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden; 
    background-image: radial-gradient(#111, black);
} 

.content {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    padding: 5vh 5vw;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about h2, #projects h2, .intropanel h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;  
    font-size: 4rem;
    margin-bottom: 1rem;
    color: rgb(50, 200, 100);
}


/***** HEADER ******/
#header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 10vh;
    background: rgba(15, 23, 26, 0.2);  
    padding: 0 10vw;
}

.menu {
    display: flex;
    flex-basis: 30%;
    justify-content: flex-end;
    align-items: center;
} 

.menu a {
    font-family: 'Montserrat', sans-serif; 
    text-decoration-line: none;
    color:#F8F8FF;

    margin-left: 1.5rem;
    font-size: 1.25rem;
}

.menu a:hover {
    color: rgb(50, 200, 100);
}


/***** HOMEPAGE ******/
#home {
    height: 100vh;
}

.introbox { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.intropanel {
    font-family: 'Montserrat', sans-serif; 
    flex-basis: 50%;
}

.introbox img {
    margin-right: 3rem;
}

.intropanel p {
    font-size: 1.25rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
    color: #F8F8FF;
}

.intropanel button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem; 
    padding: 0.5rem 1rem;
    color: #F8F8FF;
    background: transparent;
    border: 1px solid #F8F8FF;
    margin-right: 1rem;
}

.intropanel button:hover {
    color: rgb(50, 200, 100);
    border-color: rgb(50, 200, 100);
}


/***** ABOUT ******/
#about {
    border-top: 1px solid #F8F8FF;
    scroll-margin-top: 10vh;
}

#about h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.75rem;
    color: rgb(50, 200, 100);
    margin: 0.5rem 0;
}

.aboutbox p {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    color: #F8F8FF;
    width: 60%;
    margin-bottom: 1rem;
}


/***** PROJECTS ******/
#projects {
    border-top: 1px solid #F8F8FF;
    scroll-margin-top: 10vh;
    /* border: 5px solid red; */
}

.projectbox {
    width: 100%;
    /* border: 5px solid blue; */
}

.project {
    display: flex;
    align-items: center;
    height: 30vh;
}

.project img {
    position: relative;
    left: 5vh;
    height: 100%;
    width: 25vh;
    border: 5px solid rgb(50, 200, 100);
    border-radius: 50%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    padding: 0 10%;
    width: 100%;
    border: 5px solid #F8F8FF;
    background-color: #555;
    font-family: 'Lato', sans-serif;
    
}

.project h3 {
    color: rgb(50, 200, 100);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.project p {
    color: #F8F8FF;
    line-height: 1.5;
}


/***** FOOTER *****/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #555;
}

footer p {
    font-family: 'Montserrat', sans-serif; 
    color: #F8F8FF;
}

