@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* RESET DEFAULTS */
* {
    box-sizing: border-box; 
    padding: 0px;
    margin: 0px; 
}


/* DEFAULTS */
html, body {
    height: 100%;

    font-family: 'Montserrat', sans-serif;
    background: url(../img/nightsky2.jpg) no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}

.grid {
    position: absolute;
    width: 90%;
    top: 12%;
    left: 5%;
    padding: 3rem;
    border-radius: 2rem;

    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 1rem;

    background: white;
}


/* MAIN HEADER WITH NAV */
.main-header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 10%;
    padding: 1rem 5%;

    background: rgba(24, 24, 24, 0.9);
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

h1 {
    color: rgb(119, 212, 150);
    font-size: 3rem;
    flex: 0 1 70%; 
}

nav {
    display: flex;
    flex: 0 1 30%;
    justify-content: space-around;
    align-items: center;

    padding: 0;
    font-size: 1.5rem;
}
nav a {
    color: rgb(119, 212, 150);
    text-decoration: none;
}
nav a:hover {
    color: rgb(255, 255, 255);
}


/* HORIZONTAL RULE DIVIDERS */
.top-hr {
    position: relative;
    top: 10%;
}
hr {
    margin: auto;
    width: 90%;
    border: 1px solid rgb(119, 212, 150);
}


/* INDEX */
#index-main {
    height: 90%;
}

#intro {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 30%;
    height: 15%;

    /* background: white; */
}

#intro-heading {
    font-size: 4rem;
    color: rgb(119, 212, 150);
}

#intro-text {
    font-size: 2rem;
    color: rgb(119, 212, 150);
}

#index-anim {
    position: absolute;
    width: 200px;
    height: 200px;
    

    background: white;
    text-align: center;
    line-height: 200px;
    align-self: center;

    animation-name: my-animation;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* animation-delay: 2s; */
    /* animation-direction: alternate; */
    /* animation-timing-function: ease-in-out; */
}

@keyframes my-animation {
    0% { background-color: white; left: 60%; top: 20%; border-radius: 0 0 0 0; }
    25% { background-color: red; left: 80%; top: 20%; border-radius: 50% 0 0 0; }
    50% { background-color: green; left: 80%; top: 50%; border-radius: 50% 50% 0 0; }
    75% { background-color: blue; left: 60%; top: 50%; border-radius: 50% 50% 50% 0; }
    100% { background-color: white; left: 60%; top: 20%; border-radius: 50%; }
} 


/* ABOUT */
.grid > div {
    background: lightslategray;
}
.grid > div:nth-child(odd) {
    background: grey;
}

#about {
    grid-column: 1 / 3;

    text-transform: uppercase;
    font-size: 3rem;
}

#languages {
    display: grid;
}


/* PROJECTS */
